/*Coral + White + Light Blue (Beachy/Vibrant)
Light Blue (Background): #DFF6FF

Coral (Primary/Accent): #FF7F50

Sand Beige: #F5DEB3

Seafoam Green: #9FE2BF

Dark Slate (Text): #2F4F4F

#c6E3DB

White: #FFFFFF
*/
*{
    color: #2F4F4F;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'comic neue', sans-serif;
    font-size: large;
    
    text-align: center;
}
body {
   background-color: #ffeead;
   font-family: 'comic neue', sans-serif;
    font-size: large;
  }
  h1 {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #c6E3DB;
    display: inline-block;
  }
  h3 {
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #c6E3DB;
    display: inline-block;
  }
  .List {
    color: blue;
  }
  img {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #c6E3DB;
  }
