/*Coral + White + Light Blue (Beachy/Vibrant)
Light Blue (Background): #DFF6FF

Coral (Primary/Accent): #FF7F50

Sand Beige: #F5DEB3

Seafoam Green: ##c6E3DB

Dark Slate (Text): #2F4F4F

White: #FFFFFF




or 


Sand Beige – #F4E2D8

Ocean Blue – #2E8BC0

Seafoam Green – #A8DADC

Coral – #FF6B6B

Sunset Orange – #FFA07A

Palm Green – #88B04B

Shell Pink – #F9D5D3

Driftwood Brown – #8E735B

White Sand – #FFF5E1


bg for the img #c6E3DB






*/
body {
    color: #2F4F4F;
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: 'comic neue', sans-serif;
    font-size: large;
    text-align: center;
    background-color: #ffeead;
}
#first {
    
    
    margin-left: 20%;
    margin-right: 20%;
}
h2 {
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    background-color: #c6E3DB;
    display: inline-block;
}
h2:hover {
    transform: translate(0, -5px);
    transition: transform 0.2s;
}
img {
    padding: 10px;
  
    margin: 10px;
    border-radius: 10px;
    background-color: #c6E3DB;
}
img:hover {
    transform: scale(1.01);
    transition: transform 0.2s;
}
