/*Coral + White + Light Blue (Beachy/Vibrant)
Light Blue (Background): #DFF6FF

Coral (Primary/Accent): #FF7F50

Sand Beige: #F5DEB3

Seafoam Green: #9FE2BF

Dark Slate (Text): #2F4F4F

White: #FFFFFF
*/
*{
    color: #2F4F4F;
   
    font-family: 'comic neue', sans-serif;
    font-size: large;
    text-align: center;
}
body {
   background-color: #ffeead;
   
  }
  h1 {
    
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #c6E3DB;
   justify-self: center;
    width: fit-content;
    font-size: xx-large;
  }
  h3 {
    
    padding: 20px;
    margin: 0px;
    border-radius: 10px;
    background-color: #c6E3DB;
    width: fit-content;
    justify-self: center;
    
  }
  .List {
    color: blue;
  }
  

img {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #c6E3DB;
    width: fit-content;
}
  


body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #ffeead;
}

